exportPattern("^[[:alpha:]]+")


import(e1071)
import(openxlsx)
import(nlme)
import(pheatmap)
import(RColorBrewer)
import(graphics)
import(stats )
import(utils)
import(Matrix)
import(SparseM)
import(biocViews)
import(SummarizedExperiment)
import(BiocParallel)
importFrom("methods", "as", "new")
